MONGO_URI=mongodb://127.0.0.1:27017/?directConnection=true
MONGO_DB_NAME=karaxys

PROXY_ADDR=127.0.0.1:8080
PROXY_CERT_FILE=certs/ca.crt
PROXY_KEY_FILE=certs/ca.key

KARAXYS_AGENT_TOKEN=replace-with-a-long-random-token

TRAFFIC_LOG_MAX_EVENTS=1000
TRAFFIC_LOG_TTL_HOURS=24
